#don-image {
    height: 650px;
}

.don-text {
    position: absolute;
    top: 20%;
    left: 25%;
    right: 15%;
    color:  whitesmoke;
}

#don-button {
    position: absolute;
    top: 48%;
    left: 50%;
    width: 200px;
    height: 80px;
    font-size: 25px;
    transform: translate(-50%, -50%);
}

#scan-text {
    position: absolute;
    top: 68%;
    left: 40%;
    
}

#don-qr-code {
    position: absolute;
    top: 78%;
    left: 47%;
    width: 100px;
    height: 110px;
}