<!-- app/views/donor_mailer/charity_approval_email.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Charity Approved</title>
</head>
<body>
  <h1>Charity Approved</h1>
  <p>Dear <%= @donor.name %>,</p>
  <p>We are pleased to inform you that the charity "<%= @charity.name %>" has been approved on our platform. You can now donate to this charity and make a difference in the lives of beneficiaries.</p>
  <p>Thank you for your continued support!</p>
  <p>Best regards,</p>
  <p>The Donation Platform Team</p>
</body>
</html>